/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

:root {
  --font-family: "Poppins", sans-serif;
}

html,
body {
  font-family: var(--font-family) !important;
}

a,
p,
input,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  font-family: var(--font-family) !important;
}

.input-basic {
  border: 1px solid #000;
  height: 40px;
  outline: none;
  padding: 0 10px;
  width: 100%;
  transition: 0.2s ease-in-out;

  &:focus {
    border-width: 2px;
  }
}
.btn-basic {
  border: none;
  font-weight: 500;
  height: 40px;
  padding: 8px;
  width: 100%;
}

// Estilo para os modais
.modal-content {
  border: none !important;
  border-radius: 15px !important;
  background-color: rgba(255, 255, 255, 0.95) !important;
}

// Estilo para o ngx pagination
pagination-template {
  .ngx-pagination .pagination-next a:after,
  .ngx-pagination .pagination-next.disabled:after {
    content: url(assets/imgs/ngx-pagination-icons/angle-right-solid.svg);
    display: inline-block;
    margin-left: 0.5rem;
    width: 7px;
    height: 7px;
  }
  .ngx-pagination .pagination-next.disabled:after {
    content: url(assets/imgs/ngx-pagination-icons/angle-right-solid-disabled.svg) !important;
  }

  .ngx-pagination .pagination-previous a:before,
  .ngx-pagination .pagination-previous.disabled:before {
    content: url(assets/imgs/ngx-pagination-icons/angle-left-solid.svg);
    display: inline-block;
    margin-right: 0.5rem;
    width: 7px;
    height: 7px;
  }

  .ngx-pagination .pagination-previous.disabled:before {
    content: url(assets/imgs/ngx-pagination-icons/angle-left-solid-disabled.svg) !important;
  }

  .current {
    background-color: #ff0000 !important;
    border-radius: 8px !important;
  }

  .ngx-pagination {
    text-align: center !important;

    a {
      border-radius: 8px !important;
    }
  }
}
