.input-search {
  width: 95% !important;
  border-radius: 10px 0 0 10px;
  border: 1px solid #ff0000;
}

.btn-search {
  width: 5% !important;
  border-radius: 0 10px 10px 0;
  background-color: #ff0000;
  color: #ffffff;
}
